<!DOCTYPE HTML>
<html>
    <head>
        <title>Caballo Juez</title>
            <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
            <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="/stylesheets/main.css">
            <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>
        
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="/home">Página Principal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/judge1">Juez 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Juez 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Juez 3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/total">Totales</a>
      </li>
    </ul>    