<% include partials/header %>

<div class="container">
  <div id="eventandrider">
        <h1>Juez 1</h1>
    
    <h1 class="rider-name">Jaime Garcia, Eventos Nombre 6</h1>
    <h4>Empezar con 50 puntos</h4>
  </div>
  
<table class="table table-hover">
  <thead>
    <tr class="bueno">
      <th scope="col">PUNTOS BUENOS (ADICIONALES)</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1. Tener ritmo y cadencia en los movimientos</td>
      <td>
        10 Puntos
        <form action="#" name="goodscore1" >
          <input type="radio" name="bueno" value=0 checked>0
          <input type="radio" name="bueno" value=1>1
          <input type="radio" name="bueno" value=2>2
          <input type="radio" name="bueno" value=3>3
          <input type="radio" name="bueno" value=4>4
          <input type="radio" name="bueno" value=5>5
          <input type="radio" name="bueno" value=6>6
          <input type="radio" name="bueno" value=7>7
          <input type="radio" name="bueno" value=8>8
          <input type="radio" name="bueno" value=9>9
          <input type="radio" name="bueno" value=10>10
          
        </form>
        </td>
    </tr>
    <tr>
      <td>2. Por bailar alto en las cuatro patas sin perder ritmo</td>
      <td>
        10 Puntos
        <form action="#" name="goodscore2" >
          <input type="radio" name="bueno" value=0 checked>0
          <input type="radio" name="bueno" value=1>1
          <input type="radio" name="bueno" value=2>2
          <input type="radio" name="bueno" value=3>3
          <input type="radio" name="bueno" value=4>4
          <input type="radio" name="bueno" value=5>5
          <input type="radio" name="bueno" value=6>6
          <input type="radio" name="bueno" value=7>7
          <input type="radio" name="bueno" value=8>8
          <input type="radio" name="bueno" value=9>9
          <input type="radio" name="bueno" value=10>10
        </form>
      </td>
    </tr>
    <tr>
      <td>3. Por bailar hacia delante sin perder el ritmo</td>
      <td>
        5 Puntos
        <form action="#" name="goodscore3" >
          <input type="radio" name="bueno" value="0" checked>0
          <input type="radio" name="bueno" value="1">1
          <input type="radio" name="bueno" value="2">2
          <input type="radio" name="bueno" value="3">3
          <input type="radio" name="bueno" value="4">4
          <input type="radio" name="bueno" value="5">5
        </form>
      </td>
    </tr>
    <tr>
      <td>4. Por bailar hacia atras sin perder el ritmo</td>
      <td>
        5 Puntos
        <form action="#" name="goodscore4" >
          <input type="radio" name="bueno" value="0" checked>0
          <input type="radio" name="bueno" value="1"1
          <input type="radio" name="bueno" value="2">2
          <input type="radio" name="bueno" value="3">3
          <input type="radio" name="bueno" value="4">4
          <input type="radio" name="bueno" value="5">5
        </form>
      </td>
    </tr>
    <tr>
      <td>5. Por bailar lado derecho sin perder el ritmo</td>
      <td>
        5 Puntos
        <form action="#" name="goodscore5" >
          <input type="radio" name="bueno" value="0" checked>0
          <input type="radio" name="bueno" value="1">1
          <input type="radio" name="bueno" value="2">2
          <input type="radio" name="bueno" value="3">3
          <input type="radio" name="bueno" value="4">4
          <input type="radio" name="bueno" value="5">5
        </form>
      </td>
    </tr>
    <tr>
      <td>6. Por bailar lado izquierdo sin perder el ritmo</td>
      <td>
        5 Puntos
        <form action="#" name="goodscore6" >
          <input type="radio" name="bueno" value="0" checked>0
          <input type="radio" name="bueno" value="1">1
          <input type="radio" name="bueno" value="2">2
          <input type="radio" name="bueno" value="3">3
          <input type="radio" name="bueno" value="4">4
          <input type="radio" name="bueno" value="5">5
        </form>
      </td>
    </tr>
    <tr>
      <td>7. Por bailar en un mismo lugar sin avanzar</td>
      <td>
        5 Puntos
        <form action="#" name="goodscore7" >
          <input type="radio" name="bueno" value="0" checked>0
          <input type="radio" name="bueno" value="1">1
          <input type="radio" name="bueno" value="2">2
          <input type="radio" name="bueno" value="3">3
          <input type="radio" name="bueno" value="4">4
          <input type="radio" name="bueno" value="5">5
        </form>
      </td>
    </tr>
    <tr>
      <td>8. Por cambio de baile sin perder el ritmo</td>
      <td>
        10 Puntos
        <form action="#" name="goodscore8" >
          <input type="radio" name="bueno" value="0" checked>0
          <input type="radio" name="bueno" value="1">1
          <input type="radio" name="bueno" value="2">2
          <input type="radio" name="bueno" value="3">3
          <input type="radio" name="bueno" value="4">4
          <input type="radio" name="bueno" value="5">5
          <input type="radio" name="bueno" value="6">6
          <input type="radio" name="bueno" value="7">7
          <input type="radio" name="bueno" value="8">8
          <input type="radio" name="bueno" value="9">9
          <input type="radio" name="bueno" value="10">10
        </form>
      </td>
    </tr>
    <tr>
        <!--<td><input type="submit" onclick="getRadioValue()"></td>-->
        
      <!--<td>Total puntos buenos <span id="good_total_score">50</span></td>-->
      <!--<td>_____</td>-->
    </tr>
    
  </tbody>
</table>

  <div class="bueno">
    <h2>Total puntos bueno: +<span id="good_total_score">0</span></h2>
    <input type="submit" onclick="getRadioValue()">
  </div>
  </br>
<table class="table table-hover">
<!--<table class="table table-hover">-->
  <thead>
    <tr class="disqualification">
      <th scope="col">PUNTOS MALOS</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1. Por castigar continuamente( rienda, espuela, cuarta)</td>
      <td>
        -10 Puntos
        <form action="#" name="badscore1" >
          <input type="radio" name="malo" value="0" checked>0
          <input type="radio" name="malo" value="-1">1
          <input type="radio" name="malo" value="-2">2
          <input type="radio" name="malo" value="-3">3
          <input type="radio" name="malo" value="-4">4
          <input type="radio" name="malo" value="-5">5
          <input type="radio" name="malo" value="-6">6
          <input type="radio" name="malo" value="-7">7
          <input type="radio" name="malo" value="-8">8
          <input type="radio" name="malo" value="-9">9
          <input type="radio" name="malo" value="-10">10
        </form>
      </td>
    </tr>
    <tr>
      <td>2. Por salirse del cuadro uno o dos miembros</td>
      <td>-10 Puntos
        <form action="#" name="badscore2" >
          <input type="radio" name="malo" value="0" checked>0
          <input type="radio" name="malo" value="-1">1
          <input type="radio" name="malo" value="-2">2
          <input type="radio" name="malo" value="-3">3
          <input type="radio" name="malo" value="-4">4
          <input type="radio" name="malo" value="-5">5
          <input type="radio" name="malo" value="-6">6
          <input type="radio" name="malo" value="-7">7
          <input type="radio" name="malo" value="-8">8
          <input type="radio" name="malo" value="-9">9
          <input type="radio" name="malo" value="-10">10
        </form></td>
    </tr>
    <tr>
      <td>3. Por tirar patadas</td>
      <td>
        -20 Puntos
        <form action="#" name="badscore3" >
          <input type="radio" name="malo" value="0" checked>0
          <input type="radio" name="malo" value="-1">1
          <input type="radio" name="malo" value="-2">2
          <input type="radio" name="malo" value="-3">3
          <input type="radio" name="malo" value="-4">4
          <input type="radio" name="malo" value="-5">5
          <input type="radio" name="malo" value="-6">6
          <input type="radio" name="malo" value="-7">7
          <input type="radio" name="malo" value="-8">8
          <input type="radio" name="malo" value="-9">9
          <input type="radio" name="malo" value="-10">10
          <input type="radio" name="malo" value="-11">11
          <input type="radio" name="malo" value="-12">12
          <input type="radio" name="malo" value="-13">13
          <input type="radio" name="malo" value="-14">14
          <input type="radio" name="malo" value="-15">15
          <input type="radio" name="malo" value="-16">16
          <input type="radio" name="malo" value="-17">17
          <input type="radio" name="malo" value="-18">18
          <input type="radio" name="malo" value="-19">19
          <input type="radio" name="malo" value="-20">20
        </form>
      </td>
    </tr>
    <tr>
      <td>4. Por rebear o cachetear</td>
      <td>
        -5 Puntos
        <form action="#" name="badscore4" >
          <input type="radio" name="malo" value="0" checked>0
          <input type="radio" name="malo" value="-1">1
          <input type="radio" name="malo" value="-2">2
          <input type="radio" name="malo" value="-3">3
          <input type="radio" name="malo" value="-4">4
          <input type="radio" name="malo" value="-5">5
        </form>
      </td>
    </tr>
    <tr>
      <td>5. Por usar las dos manos o cambiar de mano la rienda</td>
      <td>
        -10 Puntos
        <form action="#" name="badscore5" >
          <input type="radio" name="malo" value="0" checked>0
          <input type="radio" name="malo" value="-1">1
          <input type="radio" name="malo" value="-2">2
          <input type="radio" name="malo" value="-3">3
          <input type="radio" name="malo" value="-4">4
          <input type="radio" name="malo" value="-5">5
          <input type="radio" name="malo" value="-6">6
          <input type="radio" name="malo" value="-7">7
          <input type="radio" name="malo" value="-8">8
          <input type="radio" name="malo" value="-9">9
          <input type="radio" name="malo" value="-10">10
        </form>
      </td>
    </tr>
    <tr>
      <td>6. Por disminuirse o apagarse en el baile el caballo</td>
      <td>
        -10 Puntos
        <form action="#" name="badscore6" >
          <input type="radio" name="malo" value="0" checked>0
          <input type="radio" name="malo" value="-1">1
          <input type="radio" name="malo" value="-2">2
          <input type="radio" name="malo" value="-3">3
          <input type="radio" name="malo" value="-4">4
          <input type="radio" name="malo" value="-5">5
          <input type="radio" name="malo" value="-6">6
          <input type="radio" name="malo" value="-7">7
          <input type="radio" name="malo" value="-8">8
          <input type="radio" name="malo" value="-9">9
          <input type="radio" name="malo" value="-10">10
        </form>
      </td>
    </tr>
    <tr>
      <td>7. Por sujetarse el jinete de la cabeza de la silla</td>
      <td>
        5 Puntos
        <form action="#" name="badscore7" >
          <input type="radio" name="malo" value="0" checked>0
          <input type="radio" name="malo" value="-1">1
          <input type="radio" name="malo" value="-2">2
          <input type="radio" name="malo" value="-3">3
          <input type="radio" name="malo" value="-4">4
          <input type="radio" name="malo" value="-5">5
        </form>
      </td>
    </tr>
    <tr>
        <td></td>
      <td></td>
    </tr>
     <tr>
        <td></td>
      <td></td>
      
    </tr>
    
  </tbody>
</table>
  <div class="disqualification">
    <h2>Total puntos malo: <span id="bad_total_score">0</span></h2>
    <input type="submit" onclick="getBadRadioValue()">
  </div>
  </br>
  
  <!--<input type="submit" onclick="getBadRadioValue()">-->
  <div class="alert-primary">
    <h2>Calificacion final: <span id="finalScore">0</span></h2>
  <button onclick="results()">Results</button>
  </div>
  </br></br>
  
<div class="card">
  <div class="card-header elimination">
    <h5 class="card-title">CAUSAS DE DESCALIFICACION</h5>
  </div>
  <div class="card-body">
    <p class="card-text">1. Castigo demasiado el caballo</p>
    <p class="card-text">2. Rehusarse a bailar el caballo</p>
    <p class="card-text">3. Disparar o salirse del cuadro tres o cuatro miembros</p>
    <p class="card-text">4. Reclamar sin conocer el reglamento</p>
    <p class="card-text">5. El jinete presentarsebajo la influencia del alcohol o cualquier sustancia que alterne el comportamiento</p>
  </div>
</div>
</div>
<% include partials/footer %>