<% include partials/header %>

<div class="container">
<table class="table table-hover">
  <thead>
    <tr class="bueno">
      <th scope="col">Nombre</th>
      <th scope="col">Total Puntos</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Alex Herrera</td>
     </tr> 
    <tr>
        <td>Tony Jimenez</td>
     </tr>
    <tr>
        <td>Luis Valencia</td>
    </tr>
    <tr>
        <td>Manuel Vargaz</td>
    </tr>
    <tr>
        <td>Ismael Floves</td>
    </tr>
    <tr>
        <td>Osiel Amador</td>
    </tr>
    <tr>
        <td>Alfredo Cardena</td>
    </tr>
    <tr>
        <td>Antonio Banderez</td>
    </tr>
    <tr>
        <td>Pedro Martinez</td>
    </tr>
    <tr>
        <td>Ignacio Gonzalez</td>
    </tr>
    <tr>
        <td>Jaime Garcia</td>
    </tr>
    
  </tbody>
</table>
  
</div>
</div>
<% include partials/footer %>